<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name="theme-color" content="white">
  <title>PWA Sandbox</title>
  <link rel="manifest" href="manifest.json">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='styles.css'>
  <script src='utils.js'></script>
  <script src='main.js'></script>
</head>
<body>
  <div class="container">
    <h2>Status: <span id="status"></span></h2>
    <h5>Result: <span id="result"></span></h5>
    <div id="network-status" class="status-online"><span id="status-online-text"></span></div>
    <h2 class="title">Files</h1>
    <div id="files"></div>
    <button id="reload-files">Reload</button>
    <h3>Upload file</h3>
    <div id="upload">
      <input type="file" id="file-to-upload"/>
      <button id="upload-file">Upload</button>
    </div>
  </div>
</body>
</html>
