body {
  font-family: sans-serif;
}

#files {
  border: 2px dashed lightgrey;
  border-radius: 10px;
  min-height: 200px;
  padding: 10px;
}

#status {
	color: #5cc2f6;
}

#reload-files {
  margin-top: 10px;
}

#network-status {
  padding: 10px;
  text-align: right;
  color: #757575;
  display: none;
}

#network-status.online {
  background-color: #90ee905c;
  display: block;
}

#network-status.offline {
  background-color: #ee909066;
  display: block;
}

.img-file img {
	width: auto;
  height: fit-content;
  border: 1px dotted lightgray;
  max-width: 200px;
  height: auto;
}

.img-file {
  display: inline-flex;
  flex-direction: column;
  margin-right: 10px;
}
